body {
  font: 100%/1.2 'Roboto Black', sans-serif;
  color: rgba(255,255,255,.9);
  font-weight: bold;
}

main: {
  width: 100vw;
  height: 100vh;
  background-color: lightgrey;
  display: flex;
  flex-flow: column nowrap;
}

#computer,
#user {
  width: 100%;
  height: 50vh;
  transition: height .5s ease-in-out;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h2 {
  font-size: 2em;
}

#computer {
  background: #1a2c56;
  flex-flow: column nowrap;
  cursor: no-drop;
}

#user {
  background: #d1a683;
  flex-flow: column-reverse nowrap;
}

.score {
  font-size: 3em;
}

.score small {
  font-size: 0.5em;
  font-variant-position: super;
}

.choices {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding: 20px;
}

.choice {
  width: 70px;
  height: 70px;
  flex: 1 1 30%;
  background-image: url(https://s3.postimg.org/3wh3vtdar/hands750_286.png);
  background-repeat: no-repeat;
  background-size: 300% 100%;
  opacity: .5;
  filter: blur(1px);
  transition: .5s;
}

.choice:nth-of-type(1) {
  background-position: left center;
}

.choice:nth-of-type(2) {
  background-position: center center;
}

.choice:nth-of-type(3) {
  background-position: right center;
}

#computer .choice {
  transform: rotate(180deg);
}

#computer .choice.selected {
  opacity: 1;
  filter: none;
  transform: rotate(180deg) scale(1.2) translateY(-10px);
}

#user .choice.selected {
  opacity: 1;
  cursor: no-drop;
  filter: none;
  transform: scale(1.2) translateY(-10px);
}

#user .choice:hover {
  opacity: 1;
  cursor: pointer;
  filter: none;
  transform: scale(1.2);
}

.choice.winner {
  animation: win .5s ease-in-out;
}

.choice.loser {
  animation: lose .5s ease-in-out;
}

@@keyframes win {
  0% {}
  25% {}
  50% {}
  100% {}
}

@@keyframes lose {
  0% {}
  25% {}
  50% {}
  100% {}
}
